<!DOCTYPE html>
	<head>
	<title> {{ TITLE }} </title>
	<meta http-equiv="refresh" content="3">
	</head>
	<body>
	<center>
		<h1>Chair One: {{ FIRSTNAME1 }} {{ LASTNAME1 }}</h1>
		<h1>Chair Two: {{ FIRSTNAME2 }} {{ LASTNAME2 }}</h1>
		<h1>Chair Three: {{ FIRSTNAME3 }} {{ LASTNAME3 }}</h1>
		<h1>Chair Four: {{ FIRSTNAME4 }} {{ LASTNAME4 }}</h1>
		<h1> {{ ARRAY }} </h1>
		<h1> {{ ARRAY2 }} </h1>
		<img src="{{ IMAGE1 }}">
		<img src="{{ IMAGE2 }}">
		<img src="{{ IMAGE3 }}">
		<img src="{{ IMAGE4 }}">
	</center>
	</body>
</html>
