<!DOCTYPE html>
	<head>
	<title>{{ TITLE }}</title>
	<meta http-equiv="refresh" content="3">
	<link rel="stylesheet" href="../static/style.css/">
	</head>
	<body>
	<center>
		<a href="./demo">Demo</a>
		<h1>Student: {{ TEXT }}</h1>
		<h1>RFID Number: {{ ID }}</h1>
		<h2>First Name: {{ FIRSTNAME }}</h1>
		<h1>Last Name: {{ LASTNAME }}</h1>
		<h1>Year: {{ YEAR }}</h1>
		<h1>{{ STATUS }}</h1>
			{% if stevensID == 1 %}
			<div class="led led-blue"</div>
			{% else %}
			<div class="led"</div>
			{% endif %}
			{% if stevensID == 0 %}
			<div class="led led-green"</div>
			{% else %}
			<div class="led"</div>
			{% endif %}
			{% if stevensID == 2 %}
			<div class="led led-red"</div>
			{% else %}
			<div class="led"</div>
			{% endif %}
	</center>
	</body>
</html>
